<ul class="list-unstyled">
  <% microposts.each do |micropost| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(micropost.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to micropost.user.name, user_path(micropost.user) %>
            <span class="text-muted">posted at 
            <%= micropost.created_at %></span></div>
        <div>
          <i class="fas fa-book-open"></i>：<%= micropost.title %></div>
        <div>
          <i class="fas fa-user-edit"></i>：<%= micropost.people %></div>
        <div>
          <i class="fas fa-sort-numeric-down"></i>：<%= micropost.page %></div>
        <div>
          <i class="fas fa-comments"></i>：<%= micropost.content %></div>
        <div>
          <% if current_user == micropost.user %>
          <%= link_to "Delete", micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
          <!--<%= link_to "Favorite", micropost, method: :favorite, class: 'btn btn-light btn-sm' %>-->
          <!--<%= link_to "Unfavorite", micropost, method: :unfavorite, class: 'btn btn-light btn-sm' %>-->
  
          <% end %>
          </div>
      </div>
    </li>
  <% end %>
  <%= paginate microposts %>
</ul>

